<!-- test with turtlebot3_fake -->
<launch>         
  <arg name="test" default="0"/>
  <!-- start a simulation -->
  <arg name="model" default="burger" doc="model type [burger, waffle, waffle_pi]"/>

  <param name="tb3_model" value="$(arg model)"/>

  <include file="$(find turtlebot3_bringup)/launch/includes/description.launch.xml">
    <arg name="model" value="$(arg model)" />
  </include>

  <node pkg="turtlebot3_fake" type="turtlebot3_fake_node" name="turtlebot3_fake_node" output="screen" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>
  
  <!-- pub emergency signal -->
  <node pkg="rostopic" type="rostopic" name="emergency_node" args="pub /emergency_stop_state cob_msgs/EmergencyStopState
  '{emergency_button_stop: false,
  scanner_stop: false,
  emergency_state: 0}'" output="screen"/> 

  <!-- runner -->
  <node pkg="araig_test_runners" type="test_1_emergency" name="test_1_emergency" output="screen"/>

  <include file="$(find turtlebot3_sim_tests)/launch/test1_emergency.launch">
  </include>

</launch>